<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Programming Joke</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container">
    <form action="/custom" method="POST">
      <div class="static">
        <!-- <a href="/"><div>Image Joke</div></a> -->
        <!-- <h1>Programming Joke</h1> -->

        <div class="menu">
          <span class="button red"></span>
          <span class="button yellow"></span>
          <span class="button green"></span>
        </div>

          <div class="screen">
            <p class="titleCommand">
              $ yo joke-webapp
            </p>

            <p class="command1">

              
            </p>
            <p class="command2">

            </p>

            <p class="command3"><span class="cursor4">>_</span></p>
          </div>

        </div>
        


      
      <div class="dynamic">

        <input class="customInput" type="submit" value="NEXT">

      </div>
    </form>
  </div>
</body>

</html>