<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Programming Joke</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="container">
    <form action="/" method="GET">
      <div class="static">
        <!-- <a href="/"><div>Image Joke</div></a> -->
        <!-- <h1>Programming Joke</h1> -->

        <div class="menu">
          <span class="button red"></span>
          <span class="button yellow"></span>
          <span class="button green"></span>
        </div>

          <div class="screen">
            <p class="line1">
              $ programmingJoke-webApp
              <span class="cursor1">_</span>
            </p>

            <p class="command line2">
              <%- joke1 %>
              <span class="cursor2">_</span>
            </p>

            <% if (joke2 !== ""){ %>
            <p class="command line3">
              <%- joke2 %>
                <span class="cursor3">_</span>
            </p>

            <p class="command line4">
              >
              <span class="cursor4">_</span>
            </p>
            <% } else{%>
            <p class="command line3b">
                >
                <span class="cursor3b">_</span>
            </p>
            <% } %>

            
          </div>

        </div>
        


      
      <div class="dynamic">

        
        <input class="customInput" type="submit" value="NEXT">
      

      </div>
    </form>
  </div>
</body>

</html>