body{
  background-color:#272727;
  color: #01ff70;
  font-family: monospace;

  margin: 0 auto;
  min-height: 100vh;
  max-height: 100vh;

}

.container{
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.static{
  /* min-height: 85vh; */
}

.dynamic{
  /* min-height: 15vh; */
  height: 100%;
  /* background-color: rgb(172, 172, 172); */
  background-color: #272727;
  text-align: center;
}

.customInput{
  display: inline-block;
  width: 200px;
  min-height: 40px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 1.2rem;
  /* top: 0; */
}

.buttonArea{
  text-align: center;
  height: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.menu{
  height: 28px;
  background-color: #BBB;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 10px;
}

.button{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px 0px 0px;
  border: 1px solid #000;
}

.red{
  background-color: #ff3b47;
  border-color: #9d252b;
}

.yellow{
  background-color: #ffc100;
  border-color: #9d802c;
}

.green{
  background-color: #00d742;
  border-color: #049931;
}


.screen{
  background-color: black;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  padding: 10px 20px;
  height: 360px;
}

p{
  line-height: 1rem;
  font-size: 0.8rem;
  white-space: normal;
  text-align: left;
  overflow: hidden; 
  left: 50%;
  margin-left: -8.5em;
  position: relative;
  width: 0;
}

.command{
  /* width: 0%; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* animation: write-command 5s both; */
}

.line1{
  color: #9CD9F0;
  width: 100%;
  /* -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards; */
}

.cursor1 {
  -webkit-animation: blink 1s .5s 1 forwards;
  -moz-animation: blink 1s .5s 1 forwards;
  -o-animation: blink 1s .5s 1 forwards;
  animation: blink 1s .5s 1 forwards;
  /* -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards; */
}

.line2{
  color: #CDE169;

  -webkit-animation: type .5s 1.75s steps(20, end) forwards;
  -moz-animation: type .5s 1.75s steps(20, end) forwards;
  -o-animation: type .5s 1.75s steps(20, end) forwards;
  animation: type .5s 1.75s steps(20, end) forwards;

  /* -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards; */
}

.cursor2 {
  -webkit-animation: blink 1s 2.75s 1 forwards;
  -moz-animation: blink 1s 2.75s 1 forwards;
  -o-animation: blink 1s 2.75s 1 forwards;
  animation: blink 1s 2.75s 1 forwards;
}

.cursor2fast {
  -webkit-animation: blink 1s 2.25s 1 forwards;
  -moz-animation: blink 1s 2.25s 1 forwards;
  -o-animation: blink 1s 2.25s 1 forwards;
  animation: blink 1s 2.25s 1 forwards;
}


.line3{
  color: #E09690;
  -webkit-animation: type .5s 4s steps(20, end) forwards;
  -moz-animation: type .5s 4s steps(20, end) forwards;
  -o-animation: type .5s 4s steps(20, end) forwards;
  animation: type .5s 4s steps(20, end) forwards;
}
.cursor3 {
  -webkit-animation: blink 1s 4.75s 1 forwards;
  -moz-animation: blink 1s 4.75s 1 forwards;
  -o-animation: blink 1s 4.75s 1 forwards;
  animation: blink 1s 4.75s 1 forwards;
}

.line3fast{
  color: #fff;
  -webkit-animation: type .5s 3.5s steps(20, end) forwards;
  -moz-animation: type .5s 3.5s steps(20, end) forwards;
  -o-animation: type .5s 3.5s steps(20, end) forwards;
  animation: type .5s 3.5s steps(20, end) forwards;
}
.cursor3fast {
  -webkit-animation: blink 1s 4s infinite;
  -moz-animation: blink 1s 4s infinite;
  -o-animation: blink 1s 4s infinite;
  animation: blink 1s 4s infinite;
}

.line4 {
  color: #fff;
  -webkit-animation: type .5s 5.75s steps(20, end) forwards;
  -moz-animation: type .5s 5.75s steps(20, end) forwards;
  -o-animation: type .5s 5.75s steps(20, end) forwards;
  animation: type .5s 5.75s steps(20, end) forwards;
}
.cursor4 {
  -webkit-animation: blink 1s 6.25s infinite;
  -moz-animation: blink 1s 6.25s infinite;
  -o-animation: blink 1s 6.25s infinite;
  animation: blink 1s 6.25s infinite;
}



@keyframes write-command{
  0%{
    width: 0%;
  }

  100%{
    width: 100%;
  }
}





@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 18em;
  }
}

@-moz-keyframes type {
  to {
    width: 18em;
  }
}

@-o-keyframes type {
  to {
    width: 18em;
  }
}

@keyframes type {
  to {
    width: 18em;
  }
}





@media only screen and (min-height: 667px){

  p{
    line-height: 1.3rem;
    font-size: 1rem;
  }

  .screen{
    height: 457px;
  }
}

@media only screen and (min-height: 730px){

  p{
    line-height: 1.4rem;
    font-size: 1.1rem;
  }

  .screen{
    height: 520px;
  }

}


@media only screen and (min-height: 812px){

  /* p{
    line-height: 1.5rem;
    font-size: 1.1rem;
  } */

  .screen{
    height: 602px;
  }

  /* .customInput{
    bottom: 0;
  } */
}